<table border="1" class="table table-striped">
  <tr>
    <th>First Name</th>
    <td>{{Value.firstName}}</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>{{Value.lastName}}</td>
  </tr>
  <tr>
    <th>Gender</th>
    <td>{{Value.gender}}</td>
  </tr>
  <tr>
    <th>Contact No</th>
    <td>{{Value.contactno}}</td>
  </tr>
  <tr>
    <th>Password</th>
    <td><input type ="{{eyeicon}}" disabled value = "{{Value.password}}"/>
    <i (click)="showeyefunction()" class ="glyphicon glyphicon-eye-open"></i></td>
  </tr>
  <tr>
    <th>Employee ID</th>
    <td>{{Value.empid}}</td>
  </tr>
  
    
</table>
<button type="submit" (click)="editfunction()" class="btn btn-primary">Edit</button>
<button type="submit" (click)="formsubmit()" class="btn btn-success" >save</button>