
<div class="jumbotron">
 <div class="container">
     <div class ="row">

     <div class ="col-md-6 offset-md-3">
        

      
          <h1>Login Form</h1>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
                <div class="form-group">
              <label>first Name</label>
            <input type="text"  formControlName="firstName" placeholder="firstName" class ="form-control">
            <div *ngIf="registerForm.controls['firstName'].hasError('required')">*</div>
            <div *ngIf="registerForm.controls['firstName'].invalid  && (registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched )" class ="alert alert-danger">Only Characters allowed</div><br/> 
            </div>
            <div class="form-group">
            <label>last Name</label>
            <input type="text"  formControlName="lastName" placeholder="lastName" class ="form-control">
            <div *ngIf="registerForm.controls['lastName'].hasError('required')">*</div>
            <div *ngIf="registerForm.controls['lastName'].invalid  && (registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched)" class ="alert alert-danger">Only Characters allowed</div><br/> 
            </div>
            <div class="form-group">
                <label>Gender</label>
                    <div class="radio-inline">
                            <input id="gender" type="radio" value ="Male" formControlName="gender" />
                            <label class="radio-label"> Male</label>
                            <input id="gender" type="radio" value="Female" formControlName="gender" />
                            <label class="radio-label">Female</label>
                          </div>
            
            </div>
            <div class="form-group">
            <label>contact no</label>
            <input type="text" class="form-control" placeholder="Contact No." formControlName="contactno" maxlength="10">
            <div *ngIf="registerForm.controls['contactno'].hasError('minlength')" class ="alert alert-danger">min 10 digits</div>
            <div *ngIf="!registerForm.controls['contactno'].valid && (registerForm.controls['contactno'].dirty || registerForm.controls['contactno'].touched)" class ="alert alert-danger">Only digits are allowed</div><br/>
           </div>
           <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" formControlName="password" >
            <div   class="glyphicon glyphicon-eye-open"></div>
            <div *ngIf="registerForm.controls['password'].hasError('required')">*</div>
            
            <div *ngIf="!registerForm.controls['password'].valid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class ="alert alert-danger" >1 Small Char, 1 Capital char, 1 Special Char, 1 digit required</div><br/>
            </div>
            <div class="form-group">
            <label>confirmpassword</label>
            <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmpassword" (keyup)="check()">
            <div  class="glyphicon glyphicon-eye-open"></div>
            <div *ngIf="!checkPass && (registerForm.controls['confirmpassword'].dirty || registerForm.controls['confirmpassword'].touched)" class ="alert alert-danger">Password Not Matched</div><br/>
            </div>
            <div class="form-group">
            <label>Employee id</label>
            <input type="text" class="form-control" placeholder="Employee ID" formControlName="empid">
            <div *ngIf="!registerForm.controls['empid'].valid && (registerForm.controls['empid'].dirty || registerForm.controls['empid'].touched)" class ="alert alert-danger">Only 4 digits are allowed</div><br/>
        </div>
        <div class ="form-group">
            <button type="submit" class ="btn btn-primary" [disabled]="!registerForm.valid" >Register</button>
            </div>
    </form>
    </div>
      </div>
  </div>
  </div>
  



